@font-face {
  font-family: "Tillana-bold";
  src: url('../../font/tillana-bold.ttf');
}

@font-face {
  font-family: "Tillana-extrabold";
  src: url('../../font/tillana-extrabold.ttf');
}

@font-face {
  font-family: "Tillana-medium";
  src: url('../../font/tillana-medium.ttf');
}

@font-face {
  font-family: "Tillana-regular";
  src: url('../../font/tillana-regular.ttf');
}

@font-face {
  font-family: "Tillana-semibold";
  src: url('../../font/tillana-semibold.ttf');
}

/* .aplikasi-utama-mpu {
    display: block;
    }
     */
.jumbotron-home .jumbotron {
  background-image: url(../../../img/home/jumbotron.png);
  background-size: cover;
  width: 100%;
}

.jumbotron-home .jumbotron .display-4 {
  font-family: "Tillana-bold";
}

.jumbotron-home .jumbotron .lead {
  font-family: "Tillana-regular";
}

.arti-mpu {
  background-image: url(../../../img/home/pemandangan.png);
  background-size: cover;
  width: 100%;
}

.transisi-jumbotron {
  margin-top: -35px;
}

.arti-mpu {
  font-family: "Tillana-bold";
  font-style: normal;
  color: #A10206;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 1000px) {
  .jumbotron-home .jumbotron {
    height: 726.92px;
    margin-top: -150px;
  }

  .jumbotron-home .jumbotron .display-4 {
    position: absolute;
    width: 700px;
    height: 66px;
    /* left: 447px; */
    top: 283px;
    margin-left: 250px;

    font-size: 250%;
    line-height: 66px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

  }

  .jumbotron-home .jumbotron .lead {
    position: absolute;
    width: 224px;
    height: 23px;
    /* left: 571px; */
    top: 339px;
    text-align: center;

    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #B3B3B3;
  }

  .nav-item a {
    font-family: "Tillana-medium";
    margin-right: 15px;
  }

  .navbar-2 {
    height: 80px;
    /* opacity: 0; */
  }

  nav .btn {
    width: 122px;
    height: 36px;
    margin-left: 150px;
    background-color: #A10206;
    border-radius: 10px;
    font-family: "Tillana-semibold";
    border-color: #A10206;
    font-size: small;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .arti-mpu {
    height: 714px;
    margin-top: -40px;
  }

  .arti-mpu h1 {
    position: absolute;
    width: 422px;
    height: 30.79px;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    top: 781px;
    margin-left: 30px;

  }

  .arti-mpu hr {
    position: absolute;
    width: 99.6px;
    height: 3.77px;
    top: 810px;
    margin-left: -20px;


    background: #A10206;
    border-radius: 20px;
  }

  .arti-mpu p {
    position: absolute;
    width: 852.97px;
    height: 77.3px;
    top: 859.59px;

    font-family: "Tillana-regular";
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .row {
    position: absolute;
    width: 981px;
    /* width: 76%; */
    height: 213px;
    /* margin-left: 70px; */
    top: 1043px;
    /* margin-top: -200px; */
  }

  .aplikasi-utama-mpu .container .text-1 {
    position: absolute;
    width: 231.35px;
    height: 212.72px;
    background: #282A2B;
    border-radius: 5px;
  }

  .aplikasi-utama-mpu .container .text-1 img {
    position: absolute;
    width: 77px;
    height: 75px;
    margin-left: 65px;
    margin-top: 15px;
  }

  .aplikasi-utama-mpu .container .text-1 h3 {

    position: absolute;
    width: 108px;
    height: 32px;
    margin-top: 105px;
    margin-left: 55px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-1 p {
    position: absolute;
    width: 195px;
    height: 37px;
    margin-top: 145px;
    margin-left: 5px;

    font-family: "Tillana-regular";
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-2 {

    position: absolute;
    width: 231.35px;
    height: 212.72px;
    left: 250px;

    background: #282A2B;
    border-radius: 5px;
  }

  .aplikasi-utama-mpu .container .text-2 img {
    position: absolute;
    width: 77px;
    height: 77px;
    margin-left: 65px;
    margin-top: 15px;
  }

  .aplikasi-utama-mpu .container .text-2 h3 {

    position: absolute;
    width: 108px;
    height: 32px;
    margin-top: 105px;
    margin-left: 45px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-2 p {
    position: absolute;
    width: 195px;
    height: 37px;
    margin-top: 145px;
    margin-left: 5px;

    font-family: "Tillana-regular";
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }


  .aplikasi-utama-mpu .container .text-3 {
    position: absolute;
    width: 231.35px;
    height: 212.72px;
    left: 500px;

    background: #282A2B;
    border-radius: 5px;
  }

  .aplikasi-utama-mpu .container .text-3 img {
    position: absolute;
    width: 77px;
    height: 77px;
    margin-left: 60px;
    margin-top: 15px;
  }

  .aplikasi-utama-mpu .container .text-3 h3 {

    position: absolute;
    width: 108px;
    height: 32px;
    margin-top: 105px;
    margin-left: 60px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-3 p {
    position: absolute;
    width: 195px;
    height: 37px;
    margin-top: 145px;
    margin-left: 5px;

    font-family: "Tillana-regular";
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-4 {
    position: absolute;
    width: 231.35px;
    height: 212.72px;
    left: 750px;

    background: #282A2B;
    border-radius: 5px;
  }

  .aplikasi-utama-mpu .container .text-4 img {
    position: absolute;
    width: 77px;
    height: 77px;
    margin-left: 60px;
    margin-top: 15px;
  }

  .aplikasi-utama-mpu .container .text-4 h3 {

    position: absolute;
    width: 108px;
    height: 32px;
    margin-top: 105px;
    margin-left: 50px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
  }

  .aplikasi-utama-mpu .container .text-4 p {
    position: absolute;
    width: 195px;
    height: 37px;
    margin-top: 145px;
    margin-left: 5px;

    font-family: "Tillana-regular";
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }

  .kami-mpu h1 {
    position: absolute;
    width: 213px;
    height: 27px;
    margin-top: 150px;
    margin-left: 50px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;

    color: #CC0001;
  }

  .kami-mpu hr {
    position: absolute;
    width: 101px;
    height: 3.77px;
    margin-top: 190px;
    /* margin-left: -50px; */

    background: #A10206;
    border-radius: 20px;
  }


  .kami-mpu .container .row .mean {
    margin-top: 300px;
  }

  .kami-mpu .container .row .mean h2 {
    position: absolute;
    width: 100%;
    height: 41px;

    font-family: "Tillana-semibold";
    font-style: normal;
    font-size: 150%;
    /* line-height: 41px; */
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
  }

  .kami-mpu .container .row .mean p {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 179px;

    font-family: "Tillana-medium";
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #3F3F3F;
  }

  .kami-mpu .container .row .pic {
    margin-top: 200px;
  }

  .produk-mpu {
    background-color: #000000;
    width: 100%;
    height: 813px;
  }

  .produk-mpu h1 {
    position: absolute;
    width: 222px;
    height: 27px;
    /* margin-left: -50px; */


    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;

    color: #CC0001;
  }

  .produk-mpu hr {
    position: absolute;
    width: 99.67px;
    height: 3.77px;
    margin-top: 40px;
    /* margin-left: -50px; */


    background: #A10206;
    border-radius: 20px;
  }

  .produk-mpu .main-p {
    position: absolute;
    width: 500px;
    height: 46px;

    font-family: "Tillana-semibold";
    margin-top: 60px;
    /* margin-left: -50px; */

    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-left: 130px;
    color: #FFFFFF;
  }

  .produk-mpu .border-produk-1,
  .produk-mpu .border-produk-2 {
    background: #282A2A;
    border-radius: 10px;
    margin-top: 200px;
    /* width: 500px; */
    height: 227px;
    /* margin-left: -50px; */
  }

  .produk-mpu .border-produk-1 img {
    position: absolute;
    /* width: 246.71px; */
    /* height: 172.74px; */
    margin-top: 13%;
    margin-left: 10%;
  }


  .produk-mpu .border-produk-1 .deskripsi,
  .produk-mpu .border-produk-2 .deskripsi {
    margin-top: 250px;
    margin-left: -15px;
  }

  .produk-mpu .border-produk-1 .deskripsi button,
  .produk-mpu .border-produk-2 .deskripsi button {
    position: absolute;
    width: 120px;
    height: 40px;
    margin-top: 200px;
    border-color: #CC0001;
    border-radius: 20px;
  }

  .produk-mpu .border-produk-2 img {
    position: absolute;
    /* width: 266.44px; */
    /* height: 173.62px; */
    margin-top: 30px;
    margin-left: 30px;
  }

  .produk-mpu .border-produk-2 .deskripsi button:hover {
    border-color: #FFC107;
  }

  .produk-mpu .border-produk-1 .deskripsi button:hover {
    border-color: #FFC107;
    color: white;
  }

  .produk-mpu .border-produk-1 .deskripsi button span,
  .produk-mpu .border-produk-2 .deskripsi button span {
    position: absolute;
    margin-top: -10px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #CC0001;
  }

  .produk-mpu .border-produk-1 .deskripsi button i,
  .produk-mpu .border-produk-2 .deskripsi button i {
    margin-left: 50px;
  }

  .produk-mpu .border-produk-1 .deskripsi h2 {
    position: absolute;
    width: 174px;
    height: 27px;

    font-family: "Tillana-bold";
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }


  .produk-mpu .border-produk-1 .deskripsi p {
    position: absolute;
    width: 372.03px;
    height: 85px;
    /* left: 216px;
    top: 2948px; */
    margin-top: 60px;

    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: left;

    color: #FFFFFF;
  }

  .produk-mpu .border-produk-2 .deskripsi h2 {
    position: absolute;
    width: 223.02px;
    height: 27px;

    font-family: "Tillana-bold";
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
  }


  .produk-mpu .border-produk-2 .deskripsi p {
    position: absolute;
    width: 372.03px;
    height: 85px;
    /* left: 216px;
    top: 2948px; */
    margin-top: 60px;

    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: left;

    color: #FFFFFF;
  }

  .client-kami .row .client-img img {
    margin-left: -300px;
    margin-top: -150px;
  }

  .client-kami .row .client-desc .client-all {
    margin-top: 100px;
    margin-left: 70px;
  }

  .client-kami .row .client-desc h1 {
    position: absolute;
    width: 190px;
    height: 27px;
    margin-left: 200px;

    font-family: "Tillana-bold";
    font-style: normal;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #CC0001;
  }

  .client-kami .row .client-desc hr {
    position: absolute;
    width: 101px;
    height: 3.77px;
    margin-top: 40px;
    margin-left: 250px;
    /* left: 993px; */
    /* top: 3308px; */

    background: #A10206;
    border-radius: 20px;
  }

  .client-kami .row .client-desc .main-p {
    position: absolute;
    width: 385px;
    height: 23px;
    /* left: 843px; */
    /* top: 3335px; */
    margin-top: 40px;
    margin-left: 100px;

    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .client-kami .row .client-desc .client-all .client-1 h5 {
    position: absolute;
    margin-top: 5px;
    margin-left: 27px;

    font-family: "Tillana-bold";
    font-size: 18px;
    line-height: 93px;

    color: #000000;
  }


  .client-kami .row .client-desc .client-all .client-1 p {
    position: absolute;
    width: 70%;
    height: 44px;
    margin-left: 20%;
    margin-top: 20px;


    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

  }

  .client-kami .row .client-desc .client-all .client-2 h5 {
    position: absolute;
    margin-top: 32px;
    margin-left: 30px;

    font-family: "Tillana-bold";
    font-size: 18px;
    line-height: 93px;

    color: #000000;
  }

  .client-kami .row .client-desc .client-all .client-2 img {
    margin-top: 50px;
    margin-left: 10px;
  }


  .client-kami .row .client-desc .client-all .client-2 p {
    position: absolute;
    width: 70%;
    height: 44px;
    /* margin-left: 150px; */
    margin-left: 20%;
    margin-top: 60px;


    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

  }

  .client-kami .row .client-desc .client-all .client-3 h5 {
    position: absolute;
    margin-top: 1.2%;
    margin-left: 30px;

    font-family: "Tillana-bold";
    font-size: 18px;
    line-height: 93px;

    color: #000000;
  }

  .client-kami .row .client-desc .client-all .client-3 img {
    margin-top: 25px;
    margin-left: 13px;
  }


  .client-kami .row .client-desc .client-all .client-3 p {
    position: absolute;
    width: 70%;
    height: 44px;
    /* margin-left: 150px; */
    margin-left: 20%;
    margin-top: 30px;


    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

  }

  .client-kami .row .client-desc .client-all .client-4 h5 {
    position: absolute;
    margin-top: 1%;
    margin-left: 29px;

    font-family: "Tillana-bold";
    font-size: 18px;
    line-height: 93px;

    color: #000000;
  }

  .client-kami .row .client-desc .client-all .client-4 img {
    margin-top: 25px;
    margin-left: 13px;
  }


  .client-kami .row .client-desc .client-all .client-4 p {
    position: absolute;
    width: 70%;
    height: 44px;
    /* margin-left: 150px; */
    margin-left: 20%;
    margin-top: 30px;


    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;

  }

  .testimonial .judul h1 {
    position: absolute;
    width: 190px;
    height: 27px;
    margin-top: 100px;

    font-family: "Tillana-bold";
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  .testimonial .judul p {
    position: absolute;
    width: 425px;
    height: 20px;
    margin-top: 140px;

    font-family: "Tillana-bold";
    /* font-style: normal; */
    /* font-weight: bold; */
    font-size: 12px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .testimonial .carousel {
    margin-top: 100px;
  }

  .testimonial .carousel li {
    border-radius: 10px;
    background-color: #000000;
  }

  .testimonial .carousel h5 {
    position: absolute;
    width: 925px;
    height: 66px;
    margin-top: -150px;
    /* left: 113px; */
    /* top: 4068px; */

    font-family: "Tillana-semibold";
    /* font-style: normal; */
    /* font-weight: 500; */
    font-size: 40px;
    line-height: 66px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }


  .testimonial .carousel p {
    position: absolute;
    width: 533px;
    height: 33px;
    margin-top: -40px;
    /* left: 113px; */
    /* top: 4134px; */

    font-family: "Tillana-regular";
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #979797;

  }

  footer {
    position: absolute;
    width: 100%;
    height: 322px;
    /* left: 0px; */
    /* top: 4507px; */

    background: #000000;
  }

  footer .judul h3 {
    position: absolute;
    width: 190px;
    height: 23px;
    font-family: "Tillana-bold";
    font-size: 14px;
    color: #FFFFFF;
  }

  footer .deskripsi p {
    position: absolute;
    width: 483.67px;
    height: 51px;
    margin-top: 20px;

    font-family: "Tillana-semibold";
    font-size: 10px;
    line-height: 30px;
    text-align: center;

    color: #CAC0C9;
  }

  footer .container .sosmed img {
    margin-top: 50px;
    margin-left: -10px;
  }

  footer .container .sosmed .col-sm-5 {
    margin-left: 30px;
  }

  footer .container .list hr {
    position: absolute;
    width: 86%;
    height: 0px;
    margin-top: 60px;

    border: 1px solid #DADADA;
  }

  footer .container .navigation {
    position: absolute;
    width: 106.95px;
    height: 30px;
    margin-top: 70px;

    font-family: "Tillana-bold";
    font-size: 18px;
    line-height: 30px;

    color: #A10206;
  }

  footer .container .sub-navigation {
    margin-top: 95px;
    margin-left: 50px;

  }

  footer .container .sub-navigation .col-sm-6 p a span {
    font-family: "Tillana-semibold";
    font-size: 13px;
    color: #CAC0C9;
  }

  footer .container .sub-navigation .col-sm-4 p {
    font-family: "Tillana-semibold";
    font-size: 13px;
    color: #ffffff;
  }

  footer .container .sub-navigation .col-sm-4 p span {
    color: #A10206;
  }

  .testimonial .carousel .next {
    color: #000000 !important;
  }



}

@media (min-width: 1200px) {
  .aplikasi-utama-mpu .container .row {
    /* position: absolute; */
    margin-left: 50px;
    /* background-color: #A10206; */
  }

  .produk-mpu .border-produk-1 img {
    margin-top: 6%;
  }

  .produk-mpu .border-produk-2 img {
    margin-top: 6%;
  }

  .client-kami .row .client-desc .client-all .client-2 h5 {
    margin-top: 36px;
    margin-left: 36px;
  }


  .client-kami .row .client-desc .client-all .client-1 h5 {
    margin-top: 10px;
    margin-left: 35px;
  }

  .client-kami .row .client-desc .client-all .client-3 h5 {
    margin-top: 10px;
    margin-left: 36px;
  }

  .client-kami .row .client-desc .client-all .client-4 h5 {
    margin-top: 10px;
    margin-left: 34px;
  }

  .client-kami .row .client-desc .client-all .client-4 p {
    margin-left: 20%;
    margin-top: 35px;
  }

  .client-kami .row .client-desc .client-all .client-3 p {
    margin-left: 20%;
    margin-top: 35px;
  }

}